{% extends "adminlte/base_without_nav.html" %}

{% block title %}Connexion{% endblock %}
{% block description %}Connexion{% endblock %}
{% block bodytag %}login-page{% endblock %}


{% block body %}
	
  <div class="login-box">
    <div style="color: black" class="login-logo">
      Le <strong>Portail</strong> Famille
    </div>
    <div class="login-box-body">
      <p>Votre session a expiré.</p>
	  <p>Veuillez rechargez la page dans votre navigateur afin d'accéder de nouveau au portail.</p>
    </div>
  </div>

{% endblock %}



{% block body %}



