{% extends "adminlte/base_without_nav.html" %}

{% block title %}Réinitialisation du mot de passe{% endblock %}
{% block description %}Réinitialisation du mot de passe{% endblock %}
{% block bodytag %}login-page {% block skin %}{{ GetParametre('SKIN', dict_parametres, 'skin-blue') }}{% endblock %}{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<!-- iCheck -->
<link href="{{ adminlte_find_resource('plugins/iCheck/all.css', cdn='local', use_minified=False) }}" rel="stylesheet" type="text/css">

<!-- <link href="{{ adminlte_find_resource('bootstrap/css/bootstrap.min.css', cdn='local', use_minified=False) }}" rel="stylesheet" type="text/css" /> -->
<script src="{{ adminlte_find_resource('plugins/jQuery/jquery.min.js', cdn='local',  use_minified=False) }}"></script>
<script src="{{ adminlte_find_resource('plugins/jQueryUI/jquery-ui.min.js', cdn='local',  use_minified=False) }}"></script>
<script src="{{ adminlte_find_resource('bootstrap/js/bootstrap.min.js', cdn='local',  use_minified=False) }}"></script>


{# Affichage de l'image de fond #}
{% set IMAGE_FOND = GetParametre("IMAGE_FOND", dict_parametres) %}
{% if IMAGE_FOND == "" %}
	{% set IMAGE_FOND = "bleu.jpg" %}
{% endif %}

<style type="text/css" media="screen">

	html, body {
		background-size: cover;
		background: center fixed;
		background-image:url({{ url_for('static', filename="fonds/" + IMAGE_FOND) }});
	}
	.login-page {
		background-color:transparent;
	}
	.login-box-body
	{
	  background:rgba(255, 255, 255, 0.8);
	}
	.login-box
	{
	  width: 500px;
	}


	
.login-footer {
	position: fixed;
    bottom: 0;
    width: 100%;
	display: block;
	background-color: #222d32;
    padding: 15px;
	color: #fff;
	font-size: 15px;
    border-top: 1px solid #d2d6de;
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    z-index: 820;
	}


/* Pour avoir un scrolling dans la modal */
.modal-dialog{
	overflow-y: initial !important
}
.modal-body{
	height: 400px;
	overflow-y: auto;
}
.modal-header, .close {
	color:white !important;
	text-align: center;
	font-size: 28px;
	padding: 20px 20px;
}
.modal-footer {
	background-color: #f9f9f9;
}

</style>


	
{% endblock %}



{% block body %}


  <div class="login-box">
    <div style="color: black" class="login-logo">
      {{ GetParametre("ACCUEIL_TITRE", dict_parametres)|safe }}
    </div>
    <div class="login-box-body">
		<p>Vous avez oublié votre mot de passe ? Vous pouvez demander ici sa réinitialisation.</p>
        <p><b>Saisissez votre identifiant et votre adresse email.</b></p>
        <p>Un email de réinitialisation va être envoyé sur cette adresse email.</p>
      {# Display errors (if there are any). #}
      {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
            {% for message in messages %}
              <p><strong style="color: red">{{ message }}</strong></p>
            {% endfor %}
        {% endif %}
      {% endwith %}
      {# Render the form. #}
      <form action="{{ url_for('lost_password') }}" method="post">
	    {{ form.csrf_token }}
        <div class="form-group has-feedback">
          {{ form.identifiant(class='form-control', placeholder='Saisissez votre identifiant', type='text', required='true', id='identifiant') }}
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
		  {{ form.email(class='form-control', placeholder='Saisissez votre adresse email', type='text', required='true', id='email') }}
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div>
          <h6>Remarques : Pour des raisons de sécurité, l'adresse email doit être celle que vous avez communiqué à l'organisme. Si vous avez perdu votre identifiant, adressez-vous directement à l'administrateur du portail.</h6>
        </div>
        <div class="row">
			<div class="col-xs-8">
				<a id="annuler" class="btn btn-default" href="{{ url_for('login') }}">Annuler</a>
			</div>
			<div class="col-xs-4">
				<button type="submit" class="btn btn-primary btn-block btn-flat pull-right">Envoyer</button>
			</div>
			<!-- /.col -->
        </div>
      </form>
    </div>
  </div>



<footer class="login-footer">

	<div class="pull-right hidden-xs">
		{% block version %}
		<b><a href="https://connecthys.com" title="Connecthys, le portail internet de Noethys">Connecthys</a></b> {{ config["VERSION_APPLICATION"] }}
		{% endblock %}
	</div>
	
	{% block copyright %}{% if GetParametre('ORGANISATEUR_NOM', dict_parametres) != '' %}{{ GetParametre('ORGANISATEUR_NOM', dict_parametres) }}{% endif %}{% endblock %}

</footer>


{% endblock %}