{%  macro historique_body(titre="Historique", soustitre=None, historique={}) %}
	
	{% if historique["liste_dates"]|length > 0 %}
		
		{% if titre not in ("", None) %}
			<h4 class="page-header">
				{{ titre }}
				{% if soustitre not in ("", None) %}
				<small>{{ soustitre }}</small>
				{% endif %}
			</h4>
		{% endif %}
		
		<ul class="timeline">
		
			{% for date in historique["liste_dates"] %}

				<!-- timeline time label -->
				<li class="time-label">
					<span class="bg-blue">{{ date }}</span>
				</li>
			
				{% for action in historique["dict_actions"][date] %}
				<li>
					<i class="fa fa-envelope bg-{% if action.etat == 'attente' %}orange{% endif %}{% if action.etat == 'ok' %}green{% endif %}{% if action.etat == 'suppression' %}red{% endif %}"></i>
					<div class="timeline-item">
						<span class="time"><i class="fa fa-clock-o"></i> {{ DateDTEnHeureFr(action.horodatage) }}</span>
						<h3 class="timeline-header">
							{% if action.etat == "suppression" %}<del>{% endif %}
							{{ action.description }}
							{% if action.etat == "suppression" %}</del>{% endif %}
						</h3>

						{% if action.action != "maj_password" %}
						<div class="timeline-footer">
						
							{% if action.categorie in ("reservations", "renseignements", "locations") %}
								<span class="pull-right"><a href="#" id="detail_action" data-toggle="modal" data-target="#modal_detail_demande" data-idaction="{{ action.IDaction }}" data-categorie="{{ action.categorie }}" data-description="{{ action.description }}" class="btn btn-default btn-xs" title="Afficher le détail de cette demande">Détail</a></span>
							{% endif %}
							
							{% if action.etat == "attente" %}
								{% if historique["derniere_synchro"] != None and action.horodatage <= historique["derniere_synchro"] %}
									<span class="text-yellow">Votre demande a été transmise et sera traitée prochainement.</span>
								{% else %}
								
									{% if action.categorie in ("reservations", "renseignements", "locations") %}
										<span class="pull-right">&nbsp;&nbsp;</span>
									{% endif %}

									{% if action.categorie not in ("reglements",) %}
										<span class="pull-right"><a href="#" id="supprimer_action" data-toggle="modal" data-target="#modal_supprimer_demande" data-idaction="{{ action.IDaction }}" class="btn btn-danger btn-xs" title="Supprimer cette demande">Supprimer</a></span>
									{% endif %}
									<span class="text-yellow">Demande en attente de traitement.</span>
								{% endif %}
							{% endif %}
							{% if action.etat == "suppression" %}
								<span class="text-red">Vous avez supprimé cette demande.</span>
							{% endif %}
							{% if action.etat == "validation" %}
								<span class="text-light-blue">Votre demande a été traitée le {{ DateDDEnFr(action.traitement_date) }}. {% if action.reponse != None and action.reponse != '' %}Réponse : {{ action.reponse }}{% endif %}</span>
							{% endif %}

						</div>
						{% endif %}

					</div>
				</li>
				{% endfor %}

			{% endfor %}
			
			<!-- END timeline item -->
			<li>
			  <i class="fa fa-clock-o bg-gray"></i>
			</li>

		</ul>


		<!-- Modal : Supprimer une demande -->
		<div class="modal fade" id="modal_supprimer_demande" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
				
			  <div class="modal-header bg-light-blue">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"><strong>Supprimer une demande</strong></h4>
			  </div>
			  
			  <div class="modal-body">
			  
				<form>
				<input type='hidden' id="idaction" value=0>
				</form>
				
				Souhaitez-vous vraiment supprimer cette demande ?

				<!-- Div pour affiche erreur éventuelle de validation du form -->
				<div id="message_erreur_suppression" class="text-red"></div>
				
			  </div><!-- Fin modal body -->
			  
			  <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
				<button type="button" class="btn btn-danger" id="supprimer" data-dismiss="modal">Supprimer</button>
			  </div>

			</div>
		  </div>
		</div>
		
		
		<!-- Modal : Détail demande -->
		<div class="modal fade" id="modal_detail_demande" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
				
			  <div class="modal-header bg-light-blue">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"><strong>Détail de la demande</strong></h4>
			  </div>
			  
			  <div class="modal-body">
			  
				<form>
				<input type='hidden' id="idaction" value=0>
				</form>
				
				<span class="text-blue"><strong><div id="description"></div></strong></span>
				<BR>
				
				<div class="form-group">
					<textarea id="detail" class="form-control" rows="6" maxlength="300" placeholder="" readonly></textarea>
				</div>
								
				<!-- Div pour affiche erreur éventuelle -->
				<div id="message_erreur_detail" class="text-red"></div>

			  </div><!-- Fin modal body -->
			  
			  <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
			  </div>

			</div>
		  </div>
		</div>

		
		
	{% endif %}

{% endmacro %}

{%  macro historique_scripts(historique={}, page="") %}

	{% if historique["liste_dates"]|length > 0 %}
		<script>
			// Affichage de la fenêtre modale 'Supprimer une demande'
			$('#modal_supprimer_demande').on('show.bs.modal', function (event) {
				// Remplissage des champs
				var button = $(event.relatedTarget)
				var modal = $(this)
				modal.find('#idaction').val(button.data('idaction'))
			})
		</script>

		<script type=text/javascript>
			// Validation de la suppression d'une demande
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
			$(function() {
				$('button#supprimer').bind('click', function() {
					// Envoie les données au serveur
					$.getJSON($SCRIPT_ROOT + '/supprimer_demande', {
						idaction: $("#idaction").val(),
					}, function(data) {
						if (data.success) {
							// Cache la fenêtre modale
							$('#modal_supprimer_demande').modal('hide');
							// Recharge la page
							location.href = "{{ url_for(page) }}"
						} else {
							// Affiche un message d'erreur dans la fenêtre modale
							$('#message_erreur_suppression').text('Erreur: ' + data.error_msg)
						}
					});
					return false;
				});
			});
		</script>

		<script>
			// Affichage de la fenêtre modale 'Détail de la demande'

			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
			$('#modal_detail_demande').on('show.bs.modal', function (event) {
				// Remplissage des champs
				var button = $(event.relatedTarget)
				var modal = $(this)
				modal.find('#idaction').val(button.data('idaction'))
				$('#description').text(button.data('description'))
				modal.find('#detail').val('')
				
				// Demande le détail au serveur
				$.getJSON($SCRIPT_ROOT + '/detail_demande', {
					idaction: button.data('idaction'),
					categorie: button.data('categorie'),
				}, function(data) {
					if (data.success) {
						modal.find('#detail').val(data.detail)
					} else {
						// Affiche un message d'erreur dans la fenêtre modale
						$('#message_erreur_detail').text('Erreur: ' + data.error_msg)
					}
				});			  
			})
		</script>

		
	{% endif %}

{% endmacro %}