{% macro check_password() %}
   <div class="form-group" id="pwd-container">
		<div class="pwstrength_viewport_progress"></div>
	</div>
{% endmacro %}


{% macro password_scripts(inputid='') %}

	<!-- Validation du password -->
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/pwstrength/pwstrength-bootstrap.js') }}"></script>
    <script type="text/javascript">
	jQuery(document).ready(function () {
		"use strict";
		var options = {};
		options.common = {
			minChar: 8
		};
		options.ui = {
			container: "#pwd-container",
			showVerdictsInsideProgressBar: true,
			showProgressBar: true,
			viewports: {
				progress: ".pwstrength_viewport_progress"
			},
			progressBarExtraCssClasses: "progress-bar-striped active",
            showPopover: true,
            showErrors: false,
            errorMessages : {
                wordUpperLowerCombo: "Vous devez inclure des lettres majuscules et minuscules",
                wordLetterNumberCombo: "Doit contenir des lettres et des chiffres",
            },
		};
		options.rules = {
			activated: {
				wordNotEmail: true,
				wordRepetitions: true,
				wordUpperLowerCombo: true,
				wordLetterNumberCombo: true,
				wordSequences: true,
				wordTwoCharacterClasses: true
			},
		};
		var $password = $('#{{ inputid }}').pwstrength(options);

		$password.pwstrength("addRule", "minRequirements", function (options, word, score) {
			if (word.match(/[!,@,#,$,%,\^,&,*,?,_,~]/) && word.match(/[a-z]/) && word.match(/[A-Z]/) && word.match(/\d+/)) {
				return 0;
			}
			return score;
		}, -1000, true);

	});
    </script>

	
{% endmacro %}