{% macro paiement_ligne_body() %}
		
	{% if current_user.Is_paiement_ligne_actif(dict_parametres) == True %}
	{% if current_user.email !="" %}
	<div class="box box-success ">
		<div class="box-header with-border">
			<h3 class="box-title">Payer en ligne</h3>
		</div>
		<div class="box-body">
			{% if GetParametre('PAIEMENT_EN_LIGNE_SYSTEME', dict_parametres) in ("3", "4") %}
				<img src="{{ url_for('static', filename='img/payzen.png') }}" class="pull-right" alt="Logo Payzen">
				<p>Vous pouvez payer en ligne à l'aide de votre carte bancaire. Les transactions effectuées sur ce portail sont sécurisées par la plateforme de paiement en ligne PayZen. Cliquez sur le bouton ci-dessous pour sélectionner le montant à régler et accéder au site sécurisé de notre partenaire.</p>
			{% else %}
				<p>Vous pouvez payer en ligne à l'aide de votre carte bancaire. Les transactions effectuées sur ce portail sont sécurisées par la plateforme de paiement en ligne TIPI. Cliquez sur le bouton ci-dessous pour sélectionner le montant à régler et accéder au site sécurisé de notre partenaire.</p>
			{% endif %}
			<div>
				<a href="#" class="btn btn-success" data-toggle="modal" data-target="#modal_selection_factures" title="Payer en ligne avec une carte bancaire"><i class="fa fa-credit-card"></i> &nbsp;&nbsp;&nbsp;Payer en ligne&nbsp;&nbsp;</a>
			</div>
		</div>
	</div>
	{% endif %}


	<!-- Modal : Sélection de factures -->
	<div class="modal fade" id="modal_selection_factures" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header bg-light-blue">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Paiement en ligne</h4>
		  </div>
		  <div class="modal-body">
			<p>Cochez les sommes à payer et cliquez sur le bouton Payer pour accéder à la page de paiement sécurisée de notre partenaire.</p>
			<div id="message_erreur" class="text-red"></div>
			<div class="box-body table-responsive">
				
				<table class="table table-bordered table-striped">
					<tbody>
						<tr>
							<th><center>Sélection</center></th>
							<th><center>Intitulé</center></th>
							<th><center>Montant</center></th>
							<th><center>Déjà réglé</center></th>
							<th><center>Reste à régler</center></th>
						</tr>
				
						{% for facture in liste_factures %}
							{% if facture.montant_solde > 0.0 and facture.en_cours_paiement != "1" %}
							<tr>
								<td><center><input type="checkbox" name="check_impaye" class="flat-green" value={{ facture.montant_solde }} unchecked data-type='facture' data-id={{ facture.IDfacture }} data-num={{ facture.numero }} data-solde={{ facture.montant_solde }}></center></td>
								<td><center>Facture n°{{ facture.numero }}</center></td>
								<td><center>{{ Formate_montant(facture.montant) }}</center></td>
								<td><center>{% if facture.en_cours_paiement == "1" %}<span class="badge bg-yellow">{{ Formate_montant(facture.montant_regle) }}</span>{% else %}{{ Formate_montant(facture.montant_regle) }}{% endif %}</center></td>
								<td><center><span class="badge bg-{% if facture.en_cours_paiement %}yellow{% elif facture.montant_solde > 0.0 %}red{% else %}green{% endif %}">{{ Formate_montant(facture.montant_solde) }}</span></center></td>
							</tr>
							{% endif %}
						{% endfor %}

						{% for prefacturation in liste_prefacturation %}
						<tr>
							{% set periode = prefacturation.get_periode() %}
							<td><center><input type="checkbox" name="check_impaye" class="flat-green" value={{ prefacturation.montant_solde }} unchecked data-type='periode' data-id={{ prefacturation.IDperiode }} data-num="" data-solde={{ prefacturation.montant_solde }}></center></td>
							<td><center>{{ periode.nom }}</center></td>
							<td><center>{{ Formate_montant(prefacturation.montant) }}</center></td>
							<td><center>{{ Formate_montant(prefacturation.montant_regle) }}</center></td>
							<td><center><span class="badge bg-{% if prefacturation.montant_solde > 0.0 %}red{% else %}green{% endif %}">{{ Formate_montant(prefacturation.montant_solde) }}</span></center></td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
				
				</br>
				<div>
				    Montant du règlement : <strong><span class="total">0.00 €</span></strong>
				</div>

				{% if GetParametre('PAYZEN_ECHELONNEMENT', dict_parametres) != "True" %}
					</br>
					<div>
						<input type="checkbox" name="check_echelonnement" class="flat-green" unchecked> Payer en 3 fois sans frais (Echelonnement sur 3 mois)
					</div>
				{% endif %}
			</div>
		  </div>
		  <div class="modal-footer">
			<div id="div_form_paiement" style="visibility:hidden"></div>
			<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
			<a class='btn btn-primary' id="valider_montant">Payer</a>
		  </div>
		</div>
	  </div>
	</div>
	{% endif %}

{% endmacro %}

{%  macro paiement_ligne_scripts(liste_dates_actions=[], route='/effectuer_paiement_en_ligne', page='factures') %}


{% if current_user.Is_paiement_ligne_actif(dict_parametres) == True %}


	<script>
		// Reset des champs de saisie de la fenêtre modale
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		$('#modal_selection_factures').on('show.bs.modal', function (event) {
			var modal = $(this);
			// Reset de champs
			$('#message_erreur').text('')
			$('#div_form_paiement').hide();
			$('#div_form_paiement').html('');
		})
	</script>

<!--
Mise à jour du bandeau sur la page factures
-->
	<script type="text/javascript">
		$(document).ready(function() {
		    // Mise à jour du montant total du règlement
		    $('input').on('ifToggled', function(event){
			var montant_reglement = 0.0;
			$("input[name='check_impaye']:checked").each(function() {
				montant_reglement += parseFloat($(this).val());
				});
			var montant_reglement = parseFloat(montant_reglement).toFixed(2) + " €";
			$('.total').html(montant_reglement);
		    });
		});
	</script>

{% if GetParametre('PAIEMENT_EN_LIGNE_MULTI_FACTURES', dict_parametres) != 'True' %}

<!--
Sélection d une seule facture si multi factures non actif
-->
	<script type="text/javascript">
		$(document).ready(function() {
			$("#modal_selection_factures input[name='check_impaye']:not(checked)").on('ifClicked', function(e) {
				clickedCheckbox = $(this); // Sauvegarde de l'élément cliqué/tapé

				$("#modal_selection_factures input[name='check_impaye']:checked").iCheck('uncheck'); // Selecteur sur les checkboxes deja checked et retrait du check
				clickedCheckbox.iCheck('check'); // Check du checkbox cliqué/tapé
			});
		});
	</script>

{% endif %}

<!--
Mise à jour du montant sur le modal Sélection impayes
Validation du paiement en ligne
-->
	<script type="text/javascript">
		$(document).ready(function() {
		    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		    $('#valider_montant').on('tap click', function(event) {
			var nbr_selected_impayes = 0;
			var selected_impayes = [];
			var montant_reglement = 0;
			var paiement_echelonne = 0;
			$('#message_erreur').text('');
			$("input[name='check_impaye']:checked").each(function() {
				nbr_selected_impayes += 1;
				selected_impayes.push($(this).attr("data-type") + "##" + $(this).attr("data-id") + "##" + $(this).attr("data-solde"));
				montant_reglement += parseFloat($(this).attr("data-solde"));
			});
			if (($("input[name='check_echelonnement']").length) && ($("input[name='check_echelonnement']").iCheck('update')[0].checked === true)) {
		    	paiement_echelonne = 1;
			}

			$.ajax({
				async: false,
				timeout: 5000,
				type: 'GET',
				dataType: "json",
				contentType: "application/json; charset=utf-8",
				url: $SCRIPT_ROOT + '{{ route }}',
				data: {
					liste_impayes: selected_impayes.toString(),
					montant_reglement: montant_reglement,
					paiement_echelonne: paiement_echelonne,
				},
				success: function(data) {
					if (data.success) {
						if (data.systeme_paiement == "payzen") {
							$('#div_form_paiement').html(data.form_paiement);
							$('#div_form_paiement').hide();
							$("#form_paiement").submit()
							}
						if (data.systeme_paiement == "tipi_regie") {
							$('#modal_paiement_factures').modal('hide');
							$('#valider_montant').attr('href', data.urltoredirect);
							// Recharge la page
							location.href = "{{ url_for('accueil') }}"
							}
						if (data.systeme_paiement == "demo") {
							$('#message_erreur').text('Paiement impossible, vous êtes en mode démo !');
							}

					} else {
						// Affiche un message d'erreur dans la fenêtre modale
						$('#message_erreur').text('Erreur : ' + data.error_msg);
					}
				}
			});
		    });
		});
	</script>

	{% endif %}
	
{% endmacro %}