{% macro planning_body(dict_planning={}, impression=False) %}

	
	<table class="table table-bordered">
		<tbody>
			
			<!-- Entêtes de colonnes unités -->
			<tr>
				<th></th>
				{% for unite in dict_planning["liste_unites"] %}
				<th><center>{{ unite.nom }}</center></th>
				{% endfor %}
			</tr>	

			<!-- Lignes dates -->
			{% set date_precedente = None %}
			
			{% for date in dict_planning["liste_dates"] %}
			<tr {% if date_precedente != None and GetNumSemaine(date) != GetNumSemaine(date_precedente) %}style="border-top-style: dashed;"{% endif %}>
				<td><center>{{ DateDDEnFrComplet(date) }}</center></td>
				{% for unite in dict_planning["liste_unites"] %}
					{% if IsUniteOuverte(unite, date, dict_planning) == True %}
						{% set etat_case = GetEtatFondCase(unite, date, dict_planning) %}
						{% set etat_coche = GetEtatCocheCase(unite, date, dict_planning) %}
						{% set modification_allowed = IsUniteModifiable(unite, date, dict_planning) %}
						<td
							{% if etat_case == "reservation" %} 
								style="background-color: #00a65a;background-image:url('{{ url_for('static', filename='img/reservation.png') }}');background-repeat:no-repeat;"
							{% elif etat_case == "attente" %} 
								style="background-color: #dd4b39;background-image:url('{{ url_for('static', filename='img/attente.png') }}');background-repeat:no-repeat;"
							{% elif modification_allowed == False %} 
								style="background-color: #f5f5f5;"
							{% endif %}
							>
							{% if etat_case == "absenti" or etat_case == "absentj" or etat_case == "refus" %} 
								<center><span class="badge bg-red">Absent</span></center>
							{% elif etat_case == "present" %} 
								<center><span class="badge bg-green">Présent</span></center>
							{% else %} 
								{% if impression == False %}
									<center><input type="checkbox" id="case" class="flat-black" data-date="{{ DateDDEnEng(date) }}" data-IDunite={{ unite.IDunite }} {% if etat_coche == True %} checked {% endif %} {% if modification_allowed == False %} disabled {% endif %}></center>
								{% else %}
									{% if etat_case == "reservation" %} 
										<center><span class="badge bg-green">Réservé</span></center>
									{% endif %}
									{% if etat_case == None and etat_coche == True %} 
										<center><span class="badge bg-black">Demande non traitée</span></center>
									{% endif %}
									{% if etat_case == "attente" %} 
										<center><span class="badge bg-red">Refusé</span></center>
									{% endif %}
								{% endif %}
							{% endif %}
						</td>
					{% else %}
						<td bgcolor="#ffffff">
						</td>
					{% endif %}
					
				{% endfor %}
				{% set date_precedente = date %}
			</tr>
			{% endfor %}
		
		</tbody>
	</table>

{% endmacro %}



{% macro planning_modals(dict_planning={}) %}

	<!-- Modal : Confirmation de l'envoi -->
	<div class="modal fade" id="modal_confirmation_envoi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
			
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel"><strong>Envoyer les réservations</strong></h4>
		  </div>
		  
		  <div class="modal-body">
			
			<form action={{ action }} method="post">
			
			<!-- Box infos -->
			<div>Votre demande de réservations est prête à être envoyée.</div>
			<br>
			
			<div class="form-group">
				<textarea id="detail_reservations" class="form-control" rows="6" maxlength="300" placeholder="" readonly></textarea>
			</div>
			
			<!-- Box commentaires -->
			<h4>Vous pouvez ajouter un commentaire</h4>
			<div class="form-group">
				<textarea id="commentaire" class="form-control" rows="2" maxlength="300" placeholder=""></textarea>
			</div>
			
			<!-- Div pour affiche erreur éventuelle de validation du form -->
			<div id="message_erreur" class="text-red"></div>
			
		  </form>
		  
		  </div><!-- Fin modal body -->
		  
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
			<button type="button" class="btn btn-primary" id="confirmation">Valider</button>
		  </div>

		</div>
	  </div>
	</div>

		
	<!-- Modal : Annulation des modifications -->
	<div class="modal fade" id="modal_annulation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
			
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel"><strong>Annuler les modifications</strong></h4>
		  </div>
		  
		  <div class="modal-body">
			
			<form action={{ action }} method="post">
			
			<!-- Box infos -->
			<div>Souhaitez-vous vraiment annuler vos dernières modifications ?</div>
			<br>
					
		  </form>
		  
		  </div><!-- Fin modal body -->
		  
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Non, je veux les conserver</button>
			<button type="button" class="btn btn-danger" id="confirmation_annulation">Oui, je veux les annuler</button>
		  </div>

		</div>
	  </div>
	</div>

{% endmacro %}


{%  macro planning_scripts(dict_planning={}) %}
	
	<script>
	// Annulation des modifications ?
	dirty = 0;
	$(function() {
		$('a#retour_reservations,button#annuler,a[id!="imprimer"]').bind('click', function(event) {
			var href = $(this).attr('href');
			if(dirty == 1) {
				$('#modal_annulation').modal('show');
				event.preventDefault();
				}
			else {
				location.href = href
				}
			});
		});
	</script>
	
	<script>
	// Confirmation de l'annulation des modifications
	$(function() {
		$('button#confirmation_annulation').bind('click', function() {
			location.href = "{{ url_for('reservations') }}"
			});
		});
	</script>
	
	<script>
		$('input#case').on('ifClicked', function(event){
			// Coche une unité à la fois
			if({{ dict_planning["periode"].activite.unites_multiples }} == 0) {
				var date = $(this).attr('data-date');
				var IDunite = $(this).attr('data-IDunite');
				$("input[data-date='" + date + "']:checked").each(function() {
					$(this).iCheck('uncheck');
					});
				};
			// définit dirty
			dirty = 1;
			});

	</script>
	
	<script>
		// Reset des champs de saisie de la fenêtre modale
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		$('#modal_confirmation_envoi').on('show.bs.modal', function (event) {
			var modal = $(this)
			
			// Reset de champs
			$('#commentaire').text('')
			$('#message_erreur').text('')
			modal.find('#detail_reservations').val('')
			
			// Recherche les cases cochées
			var liste_resultats = [];
			$("input#case:checked").each(function() {
				var date = $(this).attr('data-date');
				var IDunite = $(this).attr('data-IDunite');
				var valeur = date + "#" + IDunite.toString();
				liste_resultats.push(valeur);
			});

			// Demande le détail au serveur
			$.getJSON($SCRIPT_ROOT + '/detail_envoi_reservations', {
				IDactivite: {{ dict_planning["inscription"].IDactivite }},
				resultats: liste_resultats.join(","),
				liste_reservations_initiale: '{{ dict_planning["liste_reservations_initiale"] }}',
			}, function(data) {
				if (data.success) {
					modal.find('#detail_reservations').val(data.detail)
				} else {
					// Affiche un message d'erreur dans la fenêtre modale
					$('#message_erreur').text('Erreur: ' + data.error_msg)
				}
			});			  
				
		})
	</script>	

	
	<script>
	// Validation de l'envoi des réservations
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	$(function() {
		$('button#confirmation').bind('click', function() {
			var liste_resultats = [];
			$("input#case:checked").each(function() {
				var date = $(this).attr('data-date');
				var IDunite = $(this).attr('data-IDunite');
				var valeur = date + "#" + IDunite.toString();
				liste_resultats.push(valeur);
			});
			
			$.ajax({
			  type: 'GET',
			  dataType: "json",
			  contentType: "application/json; charset=utf-8",
			  url: $SCRIPT_ROOT + '/envoyer_reservations',
			  data: {
				resultats: liste_resultats.join(","),
				IDinscription: {{ dict_planning["inscription"].IDinscription }},
				IDperiode: {{ dict_planning["periode"].IDperiode }},
				IDactivite: {{ dict_planning["inscription"].IDactivite }},
				activite_nom: '{{ dict_planning["inscription"].activite.nom }}',
				IDindividu: {{ dict_planning["inscription"].IDindividu }},
				individu_prenom: '{{ dict_planning["inscription"].individu.prenom }}',
				date_debut_periode: '{{ dict_planning["periode"].date_debut }}',
				date_fin_periode: '{{ dict_planning["periode"].date_fin }}',
				commentaire: $("#commentaire").val(),
				liste_reservations_initiale: '{{ dict_planning["liste_reservations_initiale"] }}',
				},
			  success: function(data) {
					if (data.success) {
						// Cache la fenêtre modale
						$('#modal_confirmation_envoi').modal('hide');
						// Recharge la page
						location.href = "{{ url_for('reservations') }}"
					} else {
						$('#message_erreur').text('Erreur : ' + data.error_msg)
					}
				}
			});
		});
	});
	</script>
	
{% endmacro %}
