{% extends "adminlte/base_without_nav.html" %}

{% block title %}Connexion{% endblock %}
{% block description %}Connexion{% endblock %}
{% block bodytag %}login-page{% endblock %}

{% block body %}

  <div class="login-box">
    <div style="color: black" class="login-logo">
      Le <strong>Portail</strong> Famille
    </div>
    <div class="login-box-body">
      <center><p>Le portail est correctement installé mais n'a pas encore été synchronisé par l'administrateur.</p></center>
    </div>
  </div>

{% endblock %}