{% extends "page.html" %}


{% block content -%}
	
	<!-- Liste des pièces manquantes -->
	<div class="row">
		<div class="col-xs-12">
										  
			<div class="box box-{% if liste_pieces_manquantes|length > 0 %}danger{% else %}success{% endif %}">
				<div class="box-header with-border">
					<h3 class="box-title">Liste des pièces manquantes</h3>
				</div>
			<!-- /.box-header -->
				
				<div class="box-body table-responsive">
					{% if liste_pieces_manquantes|length > 0 %}
					
					<p>Il reste {{ liste_pieces_manquantes|length }} pièce{% if liste_pieces_manquantes|length > 1 %}s{% endif %} à fournir pour compléter le dossier :</p>
					
					<table class="table table-bordered table-striped">
						<tbody>
							{% for piece_manquante in liste_pieces_manquantes %}
							<tr>
								<td class="text-red">{{ piece_manquante.nom }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p class="text-green"><i class="icon fa fa-check"></i> Aucune pièce manquante</p>
				{% endif %}
				</div>
			<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
	</div>
	
	
	<!-- Zone de téléchargement -->
	{% if liste_types_pieces|length > 0 %}
	<div class="row">
		<div class="col-xs-12">
		  
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">Téléchargement de pièces</h3>
				</div>
			
            <div class="box-body">
			
				<p>Cliquez sur les pièces ci-dessous pour les télécharger :</p>
				
				{% for type_piece in liste_types_pieces %}
				<a class="btn btn-app" href="{{ url_for('static', filename='pieces/' + type_piece.fichier) }}" target="_blank" title="Cliquez ici pour télécharger cette pièce">
					<i class="fa {{ type_piece.get_icone_fichier() }}"></i> {{ type_piece.nom }}
				</a>
				{% endfor %}
				
			</div>
            <!-- /.box-body -->
          </div>
		  
		</div>		
	</div>	
	{% endif %}

{%- endblock content %}
