<p>Bonjour,</p>
<p>Vous avez demandé une réinitialisation de votre mot de passe depuis le Portail Famille.</p>
<p>Pour confirmer votre demande et procéder à la création d'un nouveau mot de passe, <a href="{{ confirm_url }}">veuillez cliquer sur ce lien</a>.
    Ce lien n'est valable que 24h. Au-delà, vous devrez effectuer une nouvelle demande.</p>
<p>Pour toute demande de renseignement ou signaler une anomalie, merci de contacter directement l'administrateur du portail.</p>
<p>Cordialement,</p>
<p>L'administrateur du Portail Famille {{ GetParametre('ORGANISATEUR_NOM', dict_parametres) }}</p>

<p><i>Ce message a été généré automatiquement. Ne répondez pas à ce message, il ne serait pas lu.</i></p>